.content {
    padding: 80px 80px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#listProperties {
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

#termSearch {
    display: grid;
    grid-template-columns: 8fr 1fr;
    gap: 10px;
}

.subsection {
    margin-top: 56px;
    margin-bottom: 48px;
}

h1 {
    margin-top: 80px;
    margin-bottom: 32px;
}

h4 {
    margin-bottom: 16px;
}

.searchResultText {
    color: var(--blueDark);
    margin-top: 24px;
    margin-left: 16px;
}

.card {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 24px;
}

.cardAllContent {
    width: 78%;
}

.cardSmall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 78%;
}

.date {
    color: var(--greyMedium);
}

.wordFormSound {
    margin-top: 16px;
    margin-bottom: 24px;
    color: var(--greyDark);
}

img {
   height: 24px; 
   cursor: pointer;
}