<html>
  <head>
    <title>Vocabulist</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="styles/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="styles/btn.css">
    <link rel="stylesheet" type="text/css" href="styles/createList.css"/>
    <script src="scripts/navbar.js"></script>
  </head>
  <body>
    <nav>
      <div class="navBar">
        <img src="media/logo.svg">
        <a class="navBarItem" href="/">
          <div class="navBarLink">
            <div id="homeIcon"></div>
            <p class="navBarLinkName">Home</p>
          </div>
        </a>
        <a class="navBarItem" href="/myLists">
          <div class="navBarLink">
            <div id="listsIcon"></div>
            <p class="navBarLinkName">My Lists</p>
          </div>
        </a>
        <a class="navBarItem" href="/settings">
          <div class="navBarLink">
            <div id="settingsIcon"></div>
            <p class="navBarLinkName">Settings</p>
          </div>
        </a>
      </div>
    </nav>
    <div class="content">
      <h1>Create new list</h1>
      <form id="listProperties" class="subsection"  method="post" action="/list/create">
        <input type="text" id="list_name" name="list_name" placeholder="Enter title, like 'Personal Finance Terms'">
        <textarea id="list_desc" name="list_desc" rows="6" cols="10" placeholder="Add a description..."></textarea> 
        <div>
          <h4 id="addedTermsHeader"></h4>
          <div id="addedTerms" class="cardList"></div>
        </div>
        <div id="searchWrapper">
          <h4>Add terms</h4>
          <div id="termSearch">
            <input type="text" id="termQuery" name="termQuery" placeholder="Search for a term to add">
            <a id="searchBtn" class="btn-primary-med" value="Search">Search</a>
            <a id="clearBtn"></a>  
          </div>
          <div id="resultsInfo" class="searchResultText"></div>
          <div id="searchResults" class="cardList"></div>
        </div>
        <div style="width: 30%">
          <input type="submit" class="btn-primary-med" id="createListBtn" value="Finish creating list">
        </div>
      </form>
    </div>
    <script src="scripts/definition.js"></script>
    <script src="scripts/createList.js"></script>
    <script src="scripts/theme.js"></script>
  </body>
</html>