<html>
  <head>
    <title>Vocabulist</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="styles/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="styles/list.css"/>
    <script src="scripts/navbar.js"></script>

  </head>
  <body>
    <nav>
      <div class="navBar">
        <img src="media/logo.svg">
        <a class="navBarItem" href="/">
          <div class="navBarLink">
            <div id="homeIcon"></div>
            <p class="navBarLinkName">Home</p>
          </div>
        </a>
        <a class="navBarItem" href="/myLists">
          <div class="navBarLink">
            <div id="listsIcon"></div>
            <p class="navBarLinkName">My Lists</p>
          </div>
        </a>
        <a class="navBarItem" href="/settings">
          <div class="navBarLink">
            <div id="settingsIcon"></div>
            <p class="navBarLinkName">Settings</p>
          </div>
        </a>
      </div>
    </nav>
  <div class="content">
    <div class="header">
      <h1>Business Terms</h1>
    </div>
    <p>Welcome to Your List! <br> Below are the words with its IPA, POS, and Definition.</p> <br>
    <div class="grid" id="grid_words">
    </div>
  </div>
  <script src="scripts/list.js"></script>
  <script src="scripts/theme.js"></script>
</body>
</html>