<html>
  <head>
    <title>Vocabulist</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="styles/btn.css"/>
    <link rel="stylesheet" type="text/css" href="styles/login.css"/>
    <script src="scripts/theme.js"></script>
    <style>
        #auth-fail {
            font-size: 12px;
            color: red;
            padding: 2px;
            margin-bottom: 10px;
            line-height: 13px;
        }
    </style>
  </head>
  <body>
    <div id="input-fields">
        <form id="login-form" action="/login" method="POST">
            <div style="padding-bottom: 20px; margin-top: 25px;">
                <h3>Welcome back to Vocabulist</h3>
            </div>
            <div id="auth-fail">
                We could not find an account matching these credentials.
            </div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter username">
            <label for="email">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter password">
            <button class="btn-primary-med" id="signup-btn">Log In</button>
            <div id="already">Don't have an account yet? <a href="/signup">Sign Up</a></div>
        </form>
    </div>
    <script src="scripts/login.js"></script>
  </body>
</html>