<html>
  <head>
    <title>Vocabulist</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="styles/btn.css"/>
    <link rel="stylesheet" type="text/css" href="styles/login.css"/>
    <script src="scripts/theme.js"></script>
  </head>
  <body>
    <div id="input-fields">
        <form id="login-form" action="/signup" method="POST">
            <div style="padding-bottom: 20px; margin-top: 25px;">
                <h3>Welcome to Vocabulist</h3>
            </div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter username">
            <label for="email">Email</label>
            <input type="password" name="password" id="password" placeholder="Enter password">
            <button class="btn-primary-med" id="signup-btn">Sign up for a 1-week free trial</button>
            <div id="already">Already have an account? <a href="/login">Log In</a></div>
        </form>
    </div>
    <script src="scripts/login.js"></script>
  </body>
</html>