<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles/createList.css"/>
    </head>
    <body>
        <div>
            <p id="testWord">hello</p>
            <img onclick="translateWord(); return false;" src="media/icons/translate.svg"/>
        </div>
        <!-- <form method="POST" action="/translate/word">
            <input type="text" name="word" id="word">
            <input type="submit" value="Translate">
        </form> -->
        <script src="scripts/translate.js"></script>
    </body>
</html>