.cardListWrapper {
    border-radius: 4px;
    background-color: var(--card);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.cardList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardListItem {
    background-color: var(--greyLighter);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 4px;
}

.cardIconGroup {
    display: flex;
    gap: 10px;
}

.wordForm {
    color: var(--greyDark);
}