.content {
    padding: 60px 80px 60px 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.subsection {
    display: flex;
    flex-direction: column; 
    gap: 14px;
}

#termSearch {
    display: grid;
    grid-template-columns: 6fr 1fr 2fr;
    gap: 10px;
    margin-bottom: 0;
    width: 60%;
    align-items: center;
}

.searchResultText {
    color: var(--blueDark);
    margin-top: 10px;
}

.card {
    background-color: var(--card);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 4px;
}

.date {
    color: var(--greyMedium);
}

.ipa, .partOfSpeech {
    color: var(--greyDark);
}

#searchWrapper {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.cardList {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.ipa {
    margin-bottom: 10px;
}

.iconBtn {
    cursor: pointer;
}

.termActionDiv {
    display: flex;
    align-items: start;
    gap: 6px;
}

#termsWrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#addedTermsHeader {
    margin-bottom: 10px;
}

.word.added {
    margin-bottom: 4px;
}

.wordWrapper {
    width: 50%;
}