.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.content {
    padding: 60px 80px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.termList {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.gridItem {
    background-color: var(--card);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.wordHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.wordInfo {
    color: var(--greyDark);
}

.iconBtn {
    display: flex;
    cursor: pointer;
}

