.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.content {
    padding: 60px 80px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid {
    background-color: var(--greyLighter);
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.gridItem {
    display: block;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.wordHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


