@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bluePrimary: #0038B7;
  --blueDark: #022d93;
  --blueMedium: #466DB9;
  --blueLight: #e4ebfa;
  --blueLighter: #f4f8ff;
  --yellowPrimary: #ffc700;
  --greyLighter: #F7F9FB;
  --greyLight: #f7f6f6;
  --greyMedium: #c6cbce;
  --greyDark: #798792;
  --text: #121111;
  --font: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, body, a, p, textarea, input {
  color: var(--text);
  font-family: var(--font);
  line-height: 150%;
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

h5 { 
  font-size: 18px;
  font-weight: 600;
}

p, body {
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--bluePrimary);
}

body {
  background-color: var(--greyLight);
  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 30px;
}

input {
  outline: none;
  border: none;
  width: 100%;
}

input[type=text] {
  padding: 12px 14px;
  border-radius: 4px;
  font-size: 16px;
}

input[type=text]:focus {
  border-bottom: 2px solid var(--bluePrimary);
}

textarea {
  border: none;
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 16px;
}

textarea:focus, textarea:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--bluePrimary);
}

button {
  all: unset;
  cursor: pointer;
}