.grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
}

.content {
  padding: 80px 80px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#createList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 285px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

#createList:hover {
  border: 2px solid var(--bluePrimary);
  background-color: var(--blueLighter);
}

#createListBtn {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#wordOfDay {
  border-radius: 4px;
  background-color: white;
  padding: 32px;
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.iconLink {
  display: flex;
  gap: 6px;
  border-radius: 4px;
  padding: 4px 6px;
  width: fit-content;
  cursor: pointer;
}

.iconLink:hover {
  background-color: var(--blueLighter);
}

.linkGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 125px;
}